# 파이썬 설정 점검

In [ ]:
import sys
sys.version

'3.11.3 | packaged by Anaconda, Inc. | (main, Apr 19 2023, 23:46:34) [MSC v.1916 64 bit (AMD64)]'

In [2]:
import site
site.getsitepackages()

['d:\\ProgramData\\Anaconda3',
 'd:\\ProgramData\\Anaconda3\\Lib\\site-packages']

# 데이터 분석

- [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html)

In [3]:
import numpy as np
import pandas as pd

In [7]:
d = np.array([1, 3.4, 2])
d

array([1. , 3.4, 2. ])

In [8]:
d = np.array([1, 2, 3])
d

array([1, 2, 3])

In [11]:
d = np.array([1, 3.4, 'py', True])
d

array(['1', '3.4', 'py', 'True'], dtype='<U32')

In [12]:
d.dtype

dtype('<U32')

In [13]:
np.dtype.str

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -2.241409 -0.049355 -0.342337 -1.367410
2013-01-02 -0.094015  2.181942 -0.056257 -1.279485
2013-01-03 -0.049539  1.413728 -0.619241  0.745260
2013-01-04 -0.699980 -0.899692  1.394796 -0.190595
2013-01-05 -0.220747 -0.720260  0.627674 -0.482044
2013-01-06 -0.253667  0.415757  0.090939  0.509343

In [15]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
df2.between_time

SyntaxError: invalid syntax (706907320.py, line 1)

## DataFrame

In [22]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'],
              dtype='datetime64[ns]', freq='D')

In [23]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns= list('ABC'))
df

                   A         B         C
2024-01-01  0.466624  0.714367  0.971022
2024-01-02  0.116540  0.751678  0.384620
2024-01-03  0.064293  0.196121  0.328197
2024-01-04  0.146711  0.638099  0.856856
2024-01-05  0.929358  0.074349  0.911052
2024-01-06  0.861546  0.013749  0.642122
2024-01-07  0.310443  0.176521  0.416061
2024-01-08  0.558680  0.799196  0.241424

In [24]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A', 'B', 'C'])
df

                   A         B         C
2024-01-01 -0.198669 -0.921873 -1.129572
2024-01-02  0.354990  0.039644  2.128196
2024-01-03 -0.539373  0.102591 -0.793254
2024-01-04 -0.596594  0.034830 -0.427902
2024-01-05  0.840688  1.370979  0.290540
2024-01-06 -0.157759  0.461407  0.209046
2024-01-07  0.010649  1.117046 -1.075637
2024-01-08 -0.542315  0.624547  2.054337

In [25]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns= list('ABC'))
df['B']

2024-01-01    0.886453
2024-01-02    0.601997
2024-01-03    0.542061
2024-01-04    0.168767
2024-01-05    0.045037
2024-01-06    0.137352
2024-01-07    0.757930
2024-01-08    0.528111
Freq: D, Name: B, dtype: float64

In [26]:
df['B'][0]

0.8864529557130201

In [27]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns= ['A', 'B', 'C'])
print(df['B'] > 0.4)

2024-01-01     True
2024-01-02     True
2024-01-03    False
2024-01-04     True
2024-01-05     True
2024-01-06     True
2024-01-07    False
2024-01-08    False
Freq: D, Name: B, dtype: bool

In [28]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns= ['A', 'B', 'C'])
df

                   A         B         C
2024-01-01  0.963545  0.295892  0.333093
2024-01-02  0.324066  0.411336  0.393067
2024-01-03  0.689761  0.164675  0.732522
2024-01-04  0.474731  0.824020  0.473631
2024-01-05  0.401578  0.100152  0.783779
2024-01-06  0.249663  0.082989  0.713048
2024-01-07  0.230946  0.666651  0.686591
2024-01-08  0.287388  0.792619  0.335661

                   A         B         C
2024-01-02  0.324066  0.411336  0.393067
2024-01-04  0.474731  0.824020  0.473631
2024-01-07  0.230946  0.666651  0.686591
2024-01-08  0.287388  0.792619  0.335661

In [30]:
df2.T

   2024-01-02  2024-01-04  2024-01-07  2024-01-08
A    0.324066    0.474731    0.230946    0.287388
B    0.411336    0.824020    0.666651    0.792619
C    0.393067    0.473631    0.686591    0.335661

In [31]:
import pandas as pd

index = pd.date_range('1/1/2024', periods=8)
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns= ['A', 'B', 'C'])
df

                   A         B         C
2024-01-01  0.111908  0.455575  0.083982
2024-01-02  0.126809  0.862551  0.602693
2024-01-03  0.316232  0.914738  0.986955
2024-01-04  0.993302  0.950219  0.681728
2024-01-05  0.003610  0.685961  0.519617
2024-01-06  0.573386  0.713688  0.458490
2024-01-07  0.470256  0.848042  0.986199
2024-01-08  0.121299  0.768540  0.637809

In [32]:
df['D'] = df['A'] / df['B']  # A열의 값을 B열의 값으로 나눈 값을 D열에 저장
df

                   A         B         C         D
2024-01-01  0.111908  0.455575  0.083982  0.245641
2024-01-02  0.126809  0.862551  0.602693  0.147016
2024-01-03  0.316232  0.914738  0.986955  0.345708
2024-01-04  0.993302  0.950219  0.681728  1.045340
2024-01-05  0.003610  0.685961  0.519617  0.005262
2024-01-06  0.573386  0.713688  0.458490  0.803413
2024-01-07  0.470256  0.848042  0.986199  0.554519
2024-01-08  0.121299  0.768540  0.637809  0.157830

In [33]:
import numpy as np

df['E'] = np.sum(df, axis=1)  #행 우선 계산 값을 E 열에 저장
df

                   A         B         C         D         E
2024-01-01  0.111908  0.455575  0.083982  0.245641  0.897105
2024-01-02  0.126809  0.862551  0.602693  0.147016  1.739068
2024-01-03  0.316232  0.914738  0.986955  0.345708  2.563633
2024-01-04  0.993302  0.950219  0.681728  1.045340  3.670590
2024-01-05  0.003610  0.685961  0.519617  0.005262  1.214451
2024-01-06  0.573386  0.713688  0.458490  0.803413  2.548978
2024-01-07  0.470256  0.848042  0.986199  0.554519  2.859016
2024-01-08  0.121299  0.768540  0.637809  0.157830  1.685479

In [34]:
df['F'] = np.ones(8)
df.head(3)

                   A         B         C         D         E    F
2024-01-01  0.111908  0.455575  0.083982  0.245641  0.897105  1.0
2024-01-02  0.126809  0.862551  0.602693  0.147016  1.739068  1.0
2024-01-03  0.316232  0.914738  0.986955  0.345708  2.563633  1.0

In [35]:
df1 = df.drop(['E', 'F'], axis='columns')
df1.head()

                   A         B         C         D
2024-01-01  0.111908  0.455575  0.083982  0.245641
2024-01-02  0.126809  0.862551  0.602693  0.147016
2024-01-03  0.316232  0.914738  0.986955  0.345708
2024-01-04  0.993302  0.950219  0.681728  1.045340
2024-01-05  0.003610  0.685961  0.519617  0.005262

In [36]:
del df1['D']
df1.head()

                   A         B         C
2024-01-01  0.111908  0.455575  0.083982
2024-01-02  0.126809  0.862551  0.602693
2024-01-03  0.316232  0.914738  0.986955
2024-01-04  0.993302  0.950219  0.681728
2024-01-05  0.003610  0.685961  0.519617

In [37]:
df1.columns = ['a', 'b', 'c']
df1

                   a         b         c
2024-01-01  0.111908  0.455575  0.083982
2024-01-02  0.126809  0.862551  0.602693
2024-01-03  0.316232  0.914738  0.986955
2024-01-04  0.993302  0.950219  0.681728
2024-01-05  0.003610  0.685961  0.519617
2024-01-06  0.573386  0.713688  0.458490
2024-01-07  0.470256  0.848042  0.986199
2024-01-08  0.121299  0.768540  0.637809

In [38]:
df1.rename(columns={'a': '2020', 'b': '2021'}, inplace=True)
df1.tail()

                2020      2021         c
2024-01-04  0.993302  0.950219  0.681728
2024-01-05  0.003610  0.685961  0.519617
2024-01-06  0.573386  0.713688  0.458490
2024-01-07  0.470256  0.848042  0.986199
2024-01-08  0.121299  0.768540  0.637809

In [39]:
df1 = df1.sub(df1['2020'], axis='index')
df1.tail()

            2020      2021         c
2024-01-04   0.0 -0.043083 -0.311574
2024-01-05   0.0  0.682351  0.516007
2024-01-06   0.0  0.140302 -0.114896
2024-01-07   0.0  0.377787  0.515944
2024-01-08   0.0  0.647241  0.516510

In [40]:
df1 = df1.div(df1['c'], axis='index')
df1.tail()

            2020      2021    c
2024-01-04  -0.0  0.138275  1.0
2024-01-05   0.0  1.322367  1.0
2024-01-06  -0.0 -1.221120  1.0
2024-01-07   0.0  0.732225  1.0
2024-01-08   0.0  1.253104  1.0

In [41]:
df1.to_csv('test.csv')
df1

            2020       2021    c
2024-01-01  -0.0 -12.306200  1.0
2024-01-02   0.0   1.546054  1.0
2024-01-03   0.0   0.892329  1.0
2024-01-04  -0.0   0.138275  1.0
2024-01-05   0.0   1.322367  1.0
2024-01-06  -0.0  -1.221120  1.0
2024-01-07   0.0   0.732225  1.0
2024-01-08   0.0   1.253104  1.0